# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# Django
# ==========================
db.sqlite3
staticfiles/
media/

# ==========================
# Node / Tailwind
# ==========================
node_modules/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log