asgiref==3.8.1
charset-normalizer==3.4.9
click==8.3.0
colorama==0.4.6
cssbeautifier==1.15.4
Django==5.2
django-appconf==1.1.0
djlint==1.36.4
EditorConfig==0.17.1
jsbeautifier==1.15.4
json5==0.12.1
pathspec==0.12.1
pillow==12.3.0
PyYAML==6.0.3
rcssmin==1.1.2
regex==2025.10.22
reportlab==5.0.0
rjsmin==1.2.2
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
